* {
	box-sizing: border-box;
	margin: 0; padding: 0;
}

:root {
	--transition: all .3s ease-in-out;
}

html, body {
	height: 100%; width: 100%;
	margin: 0 auto;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-image:
		url('../img/nasty-anon.gif'), /* by NastyNya (vk.com/nyan_nya_nasty) */
		url('../img/noise.gif');
	background-position:
		bottom right,
		center center;
	background-repeat:
		no-repeat,
		repeat;

	overflow: hidden;
}

.tlen {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-size: 3em;
	color: rgba(255, 255, 255, .5);
	text-align: center;

	cursor: default;
	user-select: none;

	transition: var(--transition);
}

.player {
	position: fixed;
	top: 5px; left: 5px;

	opacity: .2;
	transition: var(--transition);
}

.player:hover { opacity: .6 }
